<!-- extend from base layout -->
{% extends "base.html" %}

<!-- This template expects a form object instantiated from the form class
stored in a template argument named form -->

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <h1>Sign Up</h1>
      <br>
      <form name="signup" method="post">
        <input type="text" placeholder="Username" name="username" id='username' value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="pw" id='pw' value="{{
          request.form.password }}">
         <input type="text" placeholder="Email" name="email" id='email' value="{{
          request.form.username }}">
        <input class="btn btn-default" type="submit" value="Sign Up">
        {% for error in request.form.username.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </form>
      
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}