{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="container">
  <div class = "row">
      <div class = "col-md-6">
          <img class="img-center" src="{{image}}" alt="" height="256" width="386">
      </div>
      <div class = "col-md-6">
          <div class = "text-left">
              <h3><b>{{display_name}}</b></h3>
              <br>
              <p>{{location}}
                <br>
                Opening time: {{time}}
              </p>
              <p>
                  <a href="#">Call</a>    
                  <a href="#">Get Direction</a>
                  <br>
              </p>

              <font color = #ffcc00>
                  {% for i in range(5)%}
                    {% if loop.index <= 4%}
                        <span class="glyphicon glyphicon-star"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                    {% endif %}
                  {% endfor %}
              </font>
          </div>
      </div>
  </div>
  <p></p>
  <div class = "row">
      <div class = "col-xs-12"> 
          <span class = "text-center"><font size = "4"><b>Exchange rate by company:</b></font></span>
      </div>
  </div>
        <hr>
        <div class="row">
          <div class="col-xs-3">
            FROM
          </div>
          <div class="col-xs-3">
            TO
          </div>
          <div class="col-xs-3">
            RATE
          </div>
          <div class="col-xs-3">
            UPDATED
          </div>
        </div>
        <hr>
        {%for i in store_submissions%}
          <div class="row">
            <div class="col-xs-3">
              {{i[1]}}
            </div>
            <div class="col-xs-3">
              {{i[2]}}
            </div>
            <div class="col-xs-3">
              {{i[3]}}
            </div>
            <div class="col-xs-3">
              {{i[0]}}
            </div>
          </div>
        {% endfor %}
        <hr>
    <div class="row">
      <div class = "col-xs-12"> 
          <span class = "text-center"><font size = "4"><b>Exchange rate by users:</b></font></span>
      </div>
    </div> 
        <hr>
        <div class="row">
          <div class="col-xs-2">
            FROM
          </div>
          <div class="col-xs-2">
            TO
          </div>
          <div class="col-xs-2">
            RATE
          </div>
          <div class="col-xs-3">
            BY
          </div>
          <div class="col-xs-3">
            TIME
          </div>
        </div>
        <hr>
        {%for i in user_submissions%}
          <div class="row">
            <div class="col-xs-2">
              {{i[2]}}
            </div>
            <div class="col-xs-2">
              {{i[3]}}
            </div>
            <div class="col-xs-2">
              {{i[4]}}
            </div>
            <div class="col-xs-3">
              {{i[0]}}
            </div>
            <div class="col-xs-3">
              {{i[1]}}
            </div>
          </div>
        {% endfor %}
        <hr>
</div>
{% endblock %}